<!DOCTYPE html>
<html lang="en">

<!-- I have to integrate all of this shit in to the the pure code, to be functional -->
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14pt;">
  <div class="container">
    <h2>Sign up</h2>
    <form method="post" name="Signup" action="/signup">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username">

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password">

      <label for="confirm_password"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="confirm_password">

      <button type="submit">Sign up</button>
    </form>
  </div>


  <script type="text/javascript">
    $(document).ready(function(){
      var socket = io.connect('http://10.100.5.108:5000');
      
      socket.on('connect', function() {
        socket.send('User connected!');
      });
      
      socket.on('message', function(data) {
        $('#messages').append($('<p>').text(data));
      });
      
      $("#sendBtn").on("click", function() {
        socket.send($("#username").val() + ": " + $("#message").val());
        $("#message").val("");
      });
    });
  </script>
<div id="messages" style="margin: 0 auto; width: 60%; text-align:left;min-height: 300px">
</div>
<input type="text" id="username" placeholder="Username">
<input type="text" id="message" placeholder="Message" required>
<button id="sendBtn">Send</button>
</body>
</html>

